@import '~/assets/variables.scss';

.button {
  $base-background: #cbd5e0;
  
  @apply p-2 pl-3 pr-3;
  @apply rounded;
  @apply duration-75 ease-in;

  

  &:focus {
    outline: none;
  }

  &.is-primary {
    background-color: $button-primary;

    &:hover {
      background-color: darken($color: $button-primary, $amount: 10%)
    }
  }
}