@import '~/assets/variables.scss';

.button {
  $base-background: #cbd5e0;
  
  @apply p-2 pl-3 pr-3;
  @apply rounded;

  &:hover {
    background-color: darken($color: $base-background, $amount: 10%)
  }

  &:focus {
    outline: none;
  }

  .is-primary {
    background-color: $button-primary;
  }
}